/**
 * Masthead
 * -------------------------------------------------------------------------- */
html {
    -webkit-font-smoothing: antialiased;
}
.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}
.masthead-video-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.5;
    font-family: 'HelveticaNeue-Light', helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.04em;
    font-size: 12px;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 0.7;
}
.masthead-arrow {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
}
h1 {
    position: absolute;
    width: 100%;
    font-family: 'HelveticaNeue-UltraLight', helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -0.06em;
    font-size: 120px;
    text-align: center;
    height: 120px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    opacity: 0.4;
}
h1 span {
    display: block;
    font-size: 24px;
    letter-spacing: 5px;
    font-family: 'HelveticaNeue-Thin', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-left: 30px;
}
h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: -0.05em;
    color: #414141;
}
p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: #414141;
    letter-spacing: -0.02em;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.5;
}
a {
    color: #1191db;
    text-decoration: none;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol li {
    position: relative;
    margin-bottom: 24px;
    font-size: 18px;
    color: #414141;
    letter-spacing: -0.02em;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    padding-left: 70px;
}
ol li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-family: 'HelveticaNeue-Thin', helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    background-color: #353535;
}
ol li:nth-child(1):after {
    content: '1';
}
ol li:nth-child(2):after {
    content: '2';
}
ol li:nth-child(3):after {
    content: '3';
}
ol li:nth-child(4):after {
    content: '4';
}
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 6px;
    font-size: 0.9em;
}
pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}
pre .s {
    color: #d14;
}
pre .na {
    color: #008080;
}
pre .nt {
    color: #000080;
}
pre .s {
    color: #d14;
}
pre .nc {
    color: #445588;
}
pre .m {
    color: #009999;
}
.content {
    padding-top: 60px;
}
.container {
    margin: auto;
    width: 720px;
}
footer {
    text-align: right;
    margin-top: 60px;
    padding-bottom: 60px;
}
footer hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
